<!DOCTYPE html>
<html>
    <head>
        <title>Lunch planner</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h1 class="site-header">Lunch planner</h1>
        <div class="content">
            {{{content}}}
        </div>
    </body>
</html>