<h1>Lunch</h1>
<form action="{{{addParticipantLink}}}" method="post">
    <fieldset>
        <legend>Add participant</legend>
        <label for="add_participant_name">Name: </label>
        <input type="text" name="name" id="add_participant_name">

        <button>Add</button>
    </fieldset>
</form>
<form action="{{{addPotentialPlaceLink}}}" method="post">
    <fieldset>
        <legend>Add potential place</legend>
        <label for="add_potential_place_name">Name: </label>
        <input type="text" name="name" id="add_potential_place_name">

        <button>Add</button>
    </fieldset>
</form>

<table>
    <thead>
        <tr>
            <th>Participant</th>
            {{#matrix.potentialPlaces}}
                <th>{{.}}</th>
            {{/matrix.potentialPlaces}}
        </tr>
    </thead>
    <tbody>
        {{#matrix.participants}}
            <tr>
                <td>{{name}}</td>
                {{#votes}}
                    <td>
                        {{#value}}Yes{{/value}}
                        {{^value}}
                            <form action="{{{voteLink}}}" method="post">
                                <input type="hidden" name="participant_name" value="{{name}}" />
                                <input type="hidden" name="potential_place_name" value="{{potentialPlaceName}}" />

                                <button>Vote</button>
                            </form>
                            No
                        {{/value}}
                    </td>
                {{/votes}}
            </tr>
        {{/matrix.participants}}
    </tbody>
</table>